/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
}

body {
    font-family: 'Pretendard', sans-serif;
    line-height: 1.6;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: none;
  border: none;
  color: inherit;
}

button:active {
  -webkit-tap-highlight-color: transparent;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 2rem 2rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    border-bottom: 2px solid #f1f1f1;
    padding: 4rem 0;
}

.profpic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.description {
    font-size: 1rem;
    font-weight: 400;
}

.gallery {
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    padding: 4rem 0;
}

.col {
    display: grid;
    row-gap: 1.5rem;
    grid-template-columns: 1fr;
}

.gallery img {
    width: 100%;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: right;
}

.btn {
    font-family: 'Pretendard', sans-serif;
    font-size: 1rem;
    background: none;
    border: none;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn:hover {
    color: gray;
}

.btn:focus {
    outline: none;
}

.sort-btn {
    margin-top: 1.5rem;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .profpic {
    width: 80px;
    height: 80px;
    }

    .name {
    padding-bottom: 0.5rem;
    }
}