html, body {
  height: 100%;
}

body {
  margin: 0;
}

body.preload .nav-btn {
  visibility: hidden;
  pointer-events: none;
}

button {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -moz-appearance: none;
  appearance: none;

  background: none;
  border: none;
  color: inherit;
}

a {
    -webkit-tap-highlight-color: transparent;
}

button:active, a:active {
  -webkit-tap-highlight-color: transparent;
}

#fullImgContainer {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fullImgContainer.zoomed {
  align-items: flex-start;
  justify-content: flex-start;
}

#fullImg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  cursor: zoom-in;
}

#fullImg.zoomed {
  max-width: none;
  max-height: none;
  cursor: zoom-out;
}

#video {
  display: none;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  outline: none;
}

.nav-btn {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Pretendard', sans-serif;
    font-size: 2rem;
    background: none;
    border: none;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 10;
}

.nav-btn:hover {
    color: gray;
}

.nav-btn:focus {
  outline: none;
}

.nav-btn:disabled {
  visibility: hidden;
}

.play-btn {
  font-size: 1.75rem;
  top: 40px;
  right: 80px;
}

.play-btn.hidden {
  display: none;
}

.close-btn {
  top: 40px;
  right: 20px;
}

.prev-btn { left: 20px; }
.next-btn { right: 20px; }

@media (max-width: 768px) {
  .prev-btn,
  .next-btn {
    display: none;
  }

  #fullImgContainer {
    cursor: pointer;
  }

  #fullImg {
    cursor: pointer;
  }

  .play-btn {
    right: 70px;
}
}